body {
    background-color: rgb(252, 252, 255);
   font-family: "Lora" sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen" serif;
  }
  
  body a {
    color: rgb(58, 180, 180);
  }
  body a:hover{
   color: rgba(157, 19, 37, 0.925);
  }
  
  body a:visited{
    color:rgb(160, 44, 61);
  }
  
  
  
  
  html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
  }
  

  /*
    ======================================
     HEADER STYLES
    =====================================
    */

 .navbar {
  background-color: #8a2be3;
  border-bottom: 5px solid white;
  border-bottom-color: white;
  height: 150px;
 }   

 .header-info {
  background-color: #8a2be3;

 }

 #Telephone {
  color: white;

 }

 #envelope {
  font-size: 15px;
  color: white;
 }

 #social {
  color: white;
 }

 #header {
  font-size: medium;
  color: white;
 }

.navbar-nav {
  font-size: 20px;
  margin-left: 7em;
  margin-top: 2em;
  padding: 2px;
  font-stretch:semi-expanded;
  text-indent: 7px;
}


/*
==========================================
            SLIDER STYLES
==========================================
*/

#slider-img {
  height: 700px;
  width: auto;

}

.slide-header {
  font-weight: bolder;
  font-size: 80px;
 
  
}

.slide-text {
  font-size: 40px;
  margin-bottom: 5em;
}


/*
===================================================
   INFO TILES STYLES
===================================================
*/

.info-tiles {
  justify-content: center;
  position: relative;
  bottom: 3em;
  z-index: 10;
  
}

#card-img {
  height: 300px;
}




/*
======================================================
   FOOTER STYLES
======================================================
*/

.footer {
  height: 400px;
  background-color: black;
}


      