body {
    background-color: rgb(252, 252, 255);
   font-family: "Lora" sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen" serif;
  }

  p {
    font-family: "Lora" sans-serif;
    font-size: 17px;
  }
  
  body a {
    color: rgb(58, 180, 180);
  }
  body a:hover{
   color: rgba(157, 19, 37, 0.925);
  }
  
  body a:visited{
    color:rgb(160, 44, 61);
  }
  
  
  
  
  html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
  }
  

  /*
    ======================================
     HEADER STYLES
    =====================================
    */

 .navbar {
  background-color: #8a2be3;
  border-bottom: 5px solid white;
  border-bottom-color: white;
  height: 150px;
 }   

 .header-info {
  background-color: #8a2be3;

 }

 #Telephone {
  color: white;

 }

 #envelope {
  font-size: 15px;
  color: white;
 }

 #social {
  color: white;
 }

 #header {
  font-size: medium;
  color: white;
 }

.navbar-nav {
  font-size: 20px;
  margin-left: 7em;
  margin-top: 2em;
  padding: 2px;
  font-stretch:semi-expanded;
  text-indent: 7px;
}


.nav-link {
  color: white;
}




/*
==========================================
            SLIDER STYLES
==========================================
*/

#slider-img {
  height: 700px;
  width: auto;

}

.slide-header {
  font-weight: bolder;
  font-size: 80px;
 
  
}

.slide-text {
  font-size: 40px;
  margin-bottom: 5em;
}


/*
===================================================
   INFO TILES STYLES
===================================================
*/

.info-tiles {
  justify-content: center;
  position: relative;
  bottom: 3em;
  z-index: 10;
  
}

.info-tiles-button {
  background-color: #8a2be3;
  font-size: large;
  color: white;
  border-radius: 10px;
  

}

#card-img {
  height: 300px;
}

.intro {
  height: 400px;
  margin-top: 20px;
  

}

.front-info-image {
  height: 500px;
  width: 500px;
  border: 3px solid #8a2be3;
  border-radius: 15px;
  box-shadow: 5px  5px;

}




/*
======================================================
   FOOTER STYLES
======================================================
*/

.footer {
  color: white;
  height: 400px;
  background-color: #2c2929;
  margin-top: 11em;
  column-gap: 8em;
  padding: 25px;
}

.footer-logo{
  height: inherit;
  width: 100px;
}

.copyright-bar {
  background-color: #2b1515;
  color: white;
  text-align: center;
  height: 30px;

}


      











/*
================================================================
SMALL DEVICES
================================================================
*/

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .nav-item {
    background-color:#8a2be3;
    text-align: center;
    text-decoration-line: underline;
    position: relative;
    bottom: 1.5em;
    right: 3em;



  }


  .intro {
    height: 700px;
    margin-top: 20px;
    
  
  }

  .front-info-image {
    height: 400px;
    width: 360px;
    border: 3px solid #8a2be3;
    border-radius: 15px;
    box-shadow: 5px 5px;
    
  
  }

  .footer {
    color: white;
    height: 800px;
    background-color: #2c2929;
    margin-top: 11em;
    column-gap: 8em;
    padding: 25px;
  }
  

  .dropdown-menu {
    background-color: #c62351;
    color: white;
  }


  .nav-link {
    color: aliceblue;
  
  }
 
  
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  .front-info-image {
    height: 400px;
    width: 330px;
    border: 3px solid #8a2be3;
    border-radius: 15px;
    margin-left: 3.5em;
    box-shadow: 0px 0px 9px 0;
    
  
  }
 
}


